apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-database
  namespace: {{ .Release.Namespace }}
  labels:
    app: detector
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
