apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-cache
  namespace: spy-options-bot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: local-storage
