apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-database
  namespace: spy-options-bot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-storage
