apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-logs
  namespace: spy-options-bot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-storage
