apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: spy-options-bot
spec:
  type: ClusterIP # Cambiado de NodePort a ClusterIP (Seguridad)
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: backend